@use './../../styles/helpers/mixins' as *;

.blog {
  z-index: 1;
  position: relative;
  background-color: #fff;

  .inner {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    min-width: 0;
    max-width: var(--d-max-width);
    margin: 0 auto;

    @include mq_l {
      flex-direction: column;
    }
  }
}

.info {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40%;
  max-height: 100vh;
  min-height: rem(960);
  padding-left: $commonPadding;
  background-color: var(--color-beige-light);

  @include mq_l {
    position: relative;
    width: 100%;
    height: auto;
    min-height: auto;
    margin: 0 auto;
    padding: calc(vh(30) + vw(65) + rem(100)) $commonPadding
      calc(vh(30) + vw(65) + rem(50));
  }

  .info_inner {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include mq_l {
      width: 100%;
      max-width: var(--l-max-width); //TODO: 공통화?
    }
  }

  .text_big {
    margin-top: rem(8);
    width: 100%;

    .text_big_svg {
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      justify-self: center;
      margin: 0 auto;
      height: rem(70);
      width: 100%;
      margin: 0 auto;

      svg {
        height: 100%;
        margin-right: auto;
      }

      @include mq_l {
        height: rem(78);
      }

      @include mq_t {
        height: rem(70);
      }

      @include mq_t {
        height: mobile(60, 70);
      }
    }
  }

  .desc {
    display: inline-block;
    margin: rem(90) 0 rem(36);
    color: var(--color-gray-dark);
    font-size: rem(20);
    font-weight: 400;
    line-height: 180%;
    word-break: keep-all;
    padding-right: $commonPadding;

    @include mq_t {
      margin: rem(70) 0 rem(30);
      padding-right: 0;

      br {
        display: none;
      }
    }

    @include mq_m {
      font-size: mobile(20, 22);
    }
  }
}

.post {
  overflow-x: hidden;
  width: 60%;
  padding: calc(vh(30) + vw(65) + rem(50)) 0;

  @include mq_l {
    width: 100%;
    padding-left: $commonPadding;
    padding-right: $commonPadding;
  }

  .post_inner {
    width: 100%;
    padding: 0 calc($commonPadding + 1.5vw);

    @include mq_l {
      max-width: var(--l-max-width);
      margin: 0 auto;
      padding: 0;
    }
  }
}

.post_item {
  .link {
    display: flex;
    align-items: center;
    gap: rem(30);

    @include mq_m {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: mobile(12, 20);
    }
  }

  .thumbnail {
    flex-shrink: 0;
    width: rem(340);
    height: auto;
    aspect-ratio: 34 / 22;
    object-fit: cover;
    border-radius: rem(20);
    border: 1px solid var(--color-gray-light);

    @include mq_l {
      width: rem(360);
    }

    @include mq_t {
      width: 40%;
      min-width: rem(300);
    }

    @include mq_m {
      width: 100%;
      min-width: 0;
      aspect-ratio: 34 / 20;
    }
  }

  .text {
    min-width: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .date {
    @include font-sub;
    font-size: rem(16);
    line-height: 140%;
    color: var(--color-gray-light);

    @include mq_m {
      font-size: mobile(15, 16);
      order: 1;
    }
  }

  .title {
    @include ellipsis();
    margin: rem(4) 0 rem(20);
    font-size: rem(26);
    font-weight: 400;
    line-height: 180%;

    @include mq_m {
      margin: 0;
      font-size: mobile(22, 26);
    }
  }

  .desc {
    @include ellipsis(3);
    font-size: rem(17);
    font-weight: 300;
    line-height: 180%;
    color: var(--color-gray-dark);

    @include mq_m {
      display: none;
    }
  }

  .post_line {
    width: 100%;
    height: 1px;
    margin: rem(48) 0;
    background-color: var(--color-gray-dim);

    @include mq_l {
      margin: rem(50) 0;
    }

    @include mq_m {
      margin: mobile(32, 40) 0;
      background-color: transparent;
    }
  }

  &:nth-child(even) {
    .thumbnail_mock,
    .thumbnail {
      order: 1;

      @include mq_m {
        order: 0;
      }
    }
  }

  &:last-child {
    .post_line {
      display: none;
    }
  }

  // &:nth-child(n + 8) {
  //   @include mq_l {
  //     display: none;
  //   }
  // }
}

.background {
  z-index: -999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(248, 243, 237, 0.6);
  background-color: var(--color-beige-light);
  pointer-events: none;
  transform: translateX(-60%) translateZ(0);
  visibility: hidden;

  @include mq_l {
    display: none;
    transform: translateX(0) translateY(-100%) translateZ(0);
  }
}

.background_y {
  @extend .background;
  transform: none;
  // background: purple;

  @include mq_l {
    display: block;
  }
}

.isScrolling,
.isScrollOver {
  .background {
    visibility: visible;
  }
}

.k {
  display: none;
}
