@use 'sass:string';

$desktop: 1600;
$laptop: 1440;
$tablet: 960;
$mobile: 540;

@mixin mq_l {
  @media (max-width: #{$laptop}px) {
    @content;
  }
}

@mixin mq_t {
  @media (max-width: #{$tablet}px) {
    @content;
  }
}

@mixin mq_m {
  @media (max-width: #{$mobile}px) {
    @content;
  }
}

@mixin font-sub {
  font-family: 'Montserrat';
}

@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin screenOut {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  clip: rect(0, 0, 0, 0);
}

@function vh($px) {
  @return #{calc($px / 1080) * 100}vh;
}

@function vw($px) {
  @return #{calc($px / 1920) * 100}vw;
}

@function rem($px) {
  @return calc($px / 10) * 1rem;
}

@function break($px, $unit: vw, $break: $laptop) {
  @return #{calc($px * 100 / $break)}#{$unit};
}

@function minPadding($min, $contentsSize, $morePadding: 0) {
  @return max(#{$min}, #{calc(50vh - $contentsSize)});
}

$commonPadding: clamp(var(--m-padding-h), break(60), var(--d-padding-h));
