@use 'sass:math';
@use 'sass:string';
@use './../helpers/variables' as *;

@mixin font-main {
  font-family: 'Pretendard', -apple-system, 'Apple SD Gothic Neo', '맑은 고딕',
    'Malgun Gothic', sans-serif;
}

@mixin font-sub {
  font-family: 'Montserrat', -apple-system, 'Apple SD Gothic Neo', '맑은 고딕',
    'Malgun Gothic', sans-serif;
}

@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin screenOut {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  font-size: 1px;
  line-height: 0;
  color: transparent;
  clip: rect(0, 0, 0, 0);
}

@function vh($px, $break: 1080) {
  @return #{math.div($px, $break) * 100}vh;
}

@function vw($px, $break: 1920) {
  @return #{math.div($px, $break) * 100}vw;
}

@function rem($px) {
  @return math.div($px, 10) * 1rem;
}

@function mobileVw($px, $unit: vw, $break: $mobile) {
  @return #{math.div($px * 100, $break)}#{$unit};
}

@function mobile($min, $max) {
  @return clamp(rem($min), mobileVw($max), rem($max));
}
