@use './../../../styles/helpers/mixins' as *;

.work_item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;

  @include mq_t {
    justify-content: center;
  }

  .work_contents {
    width: 100%;
  }

  a {
    display: block;
    width: 100%;
  }
}

.contents {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: rem(8);
  width: 100%;
  margin-top: rem(26);

  .title {
    display: flex;
    gap: rem(10);
    max-width: rem(380);
    width: 100%;
    word-break: break-all;

    @include mq_m {
      justify-content: space-between;
      max-width: 100%;
    }

    &_text {
      display: block;
      font-size: rem(32);
      font-weight: 700;
      line-height: 100%;

      @include mq_m {
        font-size: mobile(28, 32);
      }
    }

    .year {
      flex-shrink: 0;
      font-size: rem(18);

      &:before {
        display: inline-block;
        margin-right: 2px;
        content: "'";
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: rem(18);
    font-weight: 300;
    line-height: 160%;
    color: var(--color-gray);

    @include mq_m {
      flex-direction: column;
    }

    .skills {
      display: flex;
      align-items: center;
      gap: 10px;

      .skill:not(:last-child):after {
        display: inline-block;
        width: 1px;
        height: rem(15);
        margin-left: 1rem;
        background-color: #ccc;
        transform: skew(-15deg, -15deg);
        content: '';
      }
    }

    .place:before {
      display: inline-block;
      content: '@';
    }
  }
}

.bg {
  z-index: -1;
  position: absolute;
  top: rem(51);
  left: rem(24);
  width: rem(380);
  height: rem(330);
  background-color: rgba(234, 234, 234, 0.502);
  border-radius: rem(20);
  pointer-events: none;

  @include mq_t {
    display: none;
  }
}

.isOngoing .contents {
  opacity: 0.4;
}
