@use './../../../styles/helpers/mixins' as *;

.work_item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  // width: rem(38);
  min-width: 0;

  @include mq_t {
    justify-content: center;
  }

  .work_contents {
    width: 100%;
  }
}

.contents {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: rem(6);
  width: 100%;
  margin-top: 2.4rem;

  @include mq_t {
    gap: rem(8);
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    max-width: rem(380);
    width: 100%;
    word-break: keep-all;

    &_text {
      display: block;
      font-size: rem(32);
      font-weight: 700;
      line-height: 100%;

      @include mq_t {
        font-size: clamp(rem(28), break(28, vw, $tablet), rem(32));
      }
    }

    .year {
      flex-shrink: 0;
      font-size: rem(18);

      &:before {
        display: inline-block;
        margin-right: 2px;
        content: "'";
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: rem(18);
    font-weight: 400;
    line-height: 160%;
    color: var(--color-gray);

    @include mq_t {
      flex-direction: column;
      font-size: clamp(rem(16), break(18, vw, $tablet), rem(18));
    }

    .skills {
      display: flex;
      align-items: center;
      gap: 10px;

      .skill:not(:last-child):after {
        display: inline-block;
        width: 0.1rem;
        height: 1.5rem;
        margin-left: 1rem;
        background-color: #ccc;
        transform: skew(-15deg, -15deg);
        content: '';
      }
    }

    .place:before {
      display: inline-block;
      content: '@';
    }
  }
}

.bg {
  z-index: -1;
  position: absolute;
  top: 5.1rem;
  left: 2.4rem;
  width: 38rem;
  height: 33rem;
  background-color: rgba(234, 234, 234, 0.502);
  border-radius: 2rem;
  pointer-events: none;

  @include mq_t {
    display: none;
  }
}

.isOngoing .contents {
  opacity: 0.4;
}
