@use 'sass:math';
@use '/src/styles/helpers' as *;

.contact {
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--d-max-width); //TODO: 공통화?
  height: 100vh;
  min-height: rem(1080);
  max-height: rem(1400);
  margin: 0 auto;
  padding: 0 $padding_global;
  background-color: #fff;

  @include mq_t {
    min-height: auto;
  }

  &_inner {
    position: relative;
    margin-top: -5vw;

    @include mq_l {
      width: 100%;
    }
  }

  @include mq_t {
    height: auto;
    padding: calc(vh(30) + vw(100) + rem(60)) $padding_global 0;
  }

  &.mailHover {
    @media (hover: hover) and (pointer: fine) {
      .title,
      .download,
      .contents {
        opacity: 0.4 !important;
      }
      .hiddenText {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.title {
  font-size: rem(20);
  transition: opacity 0.3s;

  @include mq_t {
    text-align: center;
  }

  @include mq_m {
    font-size: mobile(16, 18);
  }
}

.title_sub {
  display: flex;
  align-items: center;
  margin-top: rem(56);
  font-size: rem(24);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.01em;

  @include mq_m {
    font-size: mobile(20, 24);
    line-height: 200%;
  }

  .hiddenText {
    visibility: hidden;
    opacity: 0;
    color: var(--color-gray);
    margin-left: rem(10);
    font-size: 80%;
    letter-spacing: 0;
    transition: opacity 0.3s 0s, visibility 0.3s 10ms;

    @include mq_m {
      display: none;
    }
  }
}

.download {
  background-color: #fff;
  transition: opacity 0.3s;
}

.contents {
  @include font-main;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(40);
  width: 100%;
  max-width: rem(1400);
  margin-top: rem(50);
  font-size: rem(20);
  font-weight: 400;
  line-height: 180%;
  color: var(--color-gray);
  transition: opacity 0.3s;

  @include mq_l {
    flex-wrap: wrap;
    max-width: var(--l-max-width);
  }

  @include mq_t {
    flex-direction: column;
    gap: rem(20);
    margin-top: rem(70);
  }

  @include mq_m {
    font-size: mobile(19, 20);
  }

  .desc {
    flex-basis: 50%;
    word-break: keep-all;

    @include mq_l {
      flex-basis: 100%;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: rem(30);
    margin-top: rem(18);

    @include mq_t {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(12);
      margin-top: rem(40);

      a {
        padding-right: rem(10);
      }
    }
  }

  &:after {
    display: none;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-dim);
    // margin: calc(vh(30) + vw(70) + rem(10)) auto; //TODO: langs 업데이트 이후
    margin: calc(vh(30) + vw(50) + rem(5)) auto;

    @include mq_t {
      display: block;
    }
  }
}

.footer {
  position: absolute;
  bottom: rem(40);
  left: $padding_global;
  width: 100vw;
  max-width: rem(2560);
  margin: 0 auto;

  @include mq_t {
    position: relative;
    left: 0;
    bottom: 0;
    width: auto;
    padding-left: 0;
    max-width: auto;
  }

  .thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
    //

    // display: none; //TODO:

    @include mq_t {
      flex-direction: row;
      gap: 16px;
    }

    @include mq_m {
      font-size: 13px;
      flex-wrap: wrap;
    }

    .thanks_title {
      margin-bottom: rem(2);

      @include mq_t {
        margin-top: rem(2);
        margin-bottom: 0;
      }
    }

    .names {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .thanks_name {
      display: flex;
      gap: 8px;
      align-items: center;

      a {
        display: block;
        min-width: 7rem;
        @include font-sub;
        color: var(--color-gray-title);
        font-weight: 500;
      }

      span {
        color: var(--color-gray-dim);
        font-weight: 300;
      }
    }
  }
}

.langs {
  display: none;
  font-size: 16px;
  margin-top: rem(40);

  @include mq_t {
    display: flex;
  }
}

.copy {
  position: absolute;
  bottom: rem(40);
  left: 50%;
  transform: translate3d(-50%, 0, 0);

  @include mq_t {
    bottom: rem(40);
    margin-top: rem(120);
  }

  @include mq_m {
    bottom: rem(30);
  }
}

.like {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  // width: 100%;
  height: 100%;
  display: flex;
  color: rgba(231, 231, 231, 0.12);
  transform: translate3d(-50%, -50%, 0);

  svg {
    height: 100%;
  }

  // .l,
  // .i,
  // .k {
  //   flex-basis: 30%;
  // }
  // .e {
  //   flex-basis: 10%;
  // }
}
