@use './../../styles/helpers/mixins' as *;

.contact {
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--d-max-width); //TODO: 공통화?
  height: 100vh;
  max-height: rem(1400);
  margin: 0 auto;
  padding: 0 $commonPadding;
  background-color: #fff;

  &_inner {
    position: relative;
    margin-top: -5vw;

    @include mq_l {
      width: 100%;
    }
  }

  // @include mq_t {
  //   height: auto;
  //   padding-top: vh(140);
  //   padding-bottom: vh(60);
  //   min-height: auto;
  // }
}

.title {
  font-size: rem(20);

  @include mq_t {
    text-align: center;
  }
}

.title_sub {
  margin-top: rem(56);
  font-size: rem(26);
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.01em;

  // @include mq_t {
  //   margin-top: clamp(rem(46), break(56, vw, $tablet), rem(56));
  //   font-size: clamp(rem(18), break(24, vw, $tablet), rem(24));
  // }

  // @include mq_m {
  //   font-size: clamp(rem(16), break(18, vw, $mobile), rem(18));
  // }
}

.mail {
  margin-bottom: rem(36);

  &_button {
    position: relative;
    display: inline-block;
    border: 0;
    text-align: left;
    max-width: 100%;
  }

  &_address {
    z-index: 1;
    position: relative;
    @include font-sub;
    font-size: rem(110);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.05em;

    @include mq_l {
      font-size: 10vw;
    }

    @include mq_m {
      font-size: calc(rem(10) + 7vw);
    }
  }

  .mail_animation {
    display: flex;
    overflow: hidden;
  }
}

.download {
  background-color: #fff;
}

.contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(40);
  width: 100%;
  max-width: rem(1400);
  margin-top: rem(50);
  font-size: rem(20);
  font-weight: 400;
  line-height: 180%;
  color: var(--color-gray);

  @include mq_l {
    flex-wrap: wrap;
    max-width: var(--l-max-width);
  }

  @include mq_t {
    flex-direction: column;
    gap: rem(20);
    font-size: clamp(rem(16), break(18, vw, $tablet), rem(18));
  }

  .desc {
    flex-basis: 50%;
    word-break: keep-all;

    @include mq_l {
      flex-basis: 100%;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: rem(18);

    @include mq_t {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);
      margin-top: rem(30);
    }
  }

  &:after {
    display: none;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-dim);
    margin: rem(82) auto rem(56);

    @include mq_t {
      display: block;
    }
  }
}

.footer {
  position: absolute;
  bottom: rem(40);
  left: $commonPadding;
  width: 100vw;
  max-width: rem(2560);
  margin: 0 auto;

  @include mq_t {
    position: relative;
    left: 0;
    bottom: 0;
    width: auto;
    padding-left: 0;
    max-width: auto;
  }

  .thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(6);
    font-size: rem(14);

    @include mq_t {
      flex-direction: row;
      gap: rem(18);
    }

    @include mq_m {
      gap: rem(14);
    }

    .thanks_title {
      margin-bottom: rem(2);

      @include mq_t {
        margin-top: rem(2);
        margin-bottom: 0;
      }
    }

    .names {
      display: flex;
      flex-direction: column;
      gap: rem(6);
    }

    .thanks_name {
      display: flex;
      gap: rem(4);
      align-items: center;

      a {
        display: block;
        min-width: 7rem;
        @include font-sub;
        color: var(--color-gray-title);
        font-weight: 500;
      }

      span {
        color: var(--color-gray-dim);
        font-weight: 300;
      }
    }
  }
}

.langs {
  display: none;

  @include mq_t {
    display: flex;
    margin-top: rem(24);
  }
}

.copy {
  position: absolute;
  bottom: rem(40);
  left: 50%;
  transform: translate3d(-50%, 0, 0);

  @include mq_t {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    margin-top: rem(80);
  }
}

.e {
  @include mq_t {
    height: 85%;
    padding-bottom: 15%;
  }
}
