.langs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--color-gray-light);

  li:not(:first-child):before {
    display: inline-block;
    width: 1px;
    height: 15px;
    margin-right: 10px;
    background-color: #d0d0d0;
    transform: skew(-15deg, -15deg);
    vertical-align: middle;
    content: '';
  }

  .active {
    color: var(--color-black);
  }
}
