@use '/src/styles/helpers' as *;

$_height: rem(1200);

.about {
  background-color: var(--color-beige-light);

  .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--d-max-width); //TODO: 공통화?
    min-height: rem(1080); //TODO: 공통화?
    margin: 0 auto;
    padding: 0 $padding_global;

    @include mq_l {
      flex-direction: column;
      margin-top: calc(vh(30) + vw(60) + rem(80));
      padding-bottom: calc(vh(30) + vw(60) + rem(80));
      gap: rem(80);
    }

    @include mq_t {
      margin-top: $padding_tablet;
      padding-bottom: $padding_tablet;
    }

    @include mq_m {
      margin-top: calc(vh(30) + vw(80) + rem(20));
    }
  }
}

.visual {
  $_mq_l_width: 50%;
  $_mq_l_max_width: rem(560);
  $_mq_l_min_width: rem(460);
  $_mq_t_width: 55%;
  $_mq_t_max_width: rem(500);
  $_mq_t_min_width: rem(400);

  z-index: 1;
  position: relative;
  margin-top: rem(60);

  @include mq_l {
    margin-top: 0;
    width: 100%;
  }

  @include mq_m {
    display: flex;
    flex-direction: column;
  }

  .text_big {
    z-index: 1;
    position: absolute;
    bottom: calc(100% - rem(85));
    left: rem(100);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: rem(10);
    width: 100%;

    @include mq_l {
      width: $_mq_l_width;
      max-width: $_mq_l_max_width;
      min-width: $_mq_l_min_width;
      left: calc(50% + rem(100));
      transform: translate3d(-50%, 0, 0);
    }

    @include mq_t {
      width: $_mq_t_width;
      max-width: $_mq_t_max_width;
      min-width: $_mq_t_min_width;
      left: calc(50% + 10vw);
      gap: 0;
    }

    @include mq_m {
      position: relative;
      left: 0;
      bottom: 0;
      flex-direction: row;
      justify-content: center;
      gap: 3.2vw;
      width: rem(480);
      min-width: 0;
      max-width: 100%;
      margin: rem(22) auto rem(16);
      transform: none;
    }

    .text_big_svg {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: rem(80);

      svg {
        height: 100%;
      }

      &.svg_1 {
        width: 70%;

        @include mq_l {
          width: 56%;
        }
      }

      &.svg_2 {
        width: 34%;

        @include mq_l {
          width: 29%;
        }
      }
    }
  }

  .profile {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(20);

    @include mq_l {
      gap: rem(15);
    }

    .photo {
      overflow: hidden;
      width: rem(460);
      aspect-ratio: 46 / 46;
      object-fit: cover;
      background-color: #fff;
      margin-bottom: rem(20);
      border: 1px solid var(--color-gray-dark);
      border-radius: 4rem;

      @include mq_l {
        // width: $_mq_l_width;
        max-width: $_mq_l_max_width;
        min-width: $_mq_l_min_width;
      }

      @include mq_t {
        // width: $_mq_t_width;
        max-width: $_mq_t_max_width;
        min-width: $_mq_t_min_width;
      }

      @include mq_m {
        order: -1;
        width: mobile(320, 400);
        min-width: 0;
        max-width: 100%;
        margin: 0;
      }
    }

    .download {
      background-color: var(--color-beige-light);
    }
  }
}

.text {
  z-index: 1;
  position: relative;
  max-width: rem(730);
  margin-left: rem(174);

  @include mq_l {
    width: 100%;
    max-width: var(--l-max-width);
    margin-left: 0;
  }

  @include mq_t {
    max-width: 100%;

    br:not(.br_keep) {
      display: none;
    }
  }

  .title {
    font-size: rem(20);

    .nana {
      margin-left: rem(6);
      height: rem(14);
    }
  }

  .desc {
    margin: rem(26) auto rem(36);
    color: var(--color-gray-dark);
    font-size: rem(20);
    font-weight: 400;
    line-height: 190%;
    word-break: keep-all;

    p {
      overflow: hidden;
    }

    p:not(:first-child) {
      margin-top: rem(20);
    }

    @include mq_m {
      font-size: mobile(19, 20);
    }
  }

  .aka {
    @include font-sub;
    color: var(--color-gray);
    border: 1px solid var(--color-gray-light);
    padding: rem(3) rem(6);
    margin-left: rem(5);
    border-radius: rem(20);
    font-size: 80%;
    letter-spacing: 0;

    @include mq_m {
      display: none;
    }
  }
}

.bg {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-beige-light);
}

// .alphabet.l {
//   z-index: 0;
//   // position: fixed;
//   display: none; //TODO:
// }
