@use './../../styles/helpers/mixins' as *;

$_height: rem(1200);

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--d-max-width); //TODO: 공통화?
  // height: 100vh;
  // min-height: rem(960); //TODO: 공통화?
  margin: 0 auto;
  padding: 0 $commonPadding;
  background-color: var(--color-beige-light);

  // padding-top: vh(180);
  // padding-bottom: vh(150);
  height: 1080px;

  @include mq_l {
    flex-direction: column;
    gap: vh(60);
    height: auto;
  }

  @include mq_m {
    padding-top: vh(140);
    padding-bottom: vh(110);
  }
}

.visual {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: vw(66);
  padding-right: vw(93);
  min-width: 0;

  @include mq_l {
    padding-right: 0;
  }

  .profile {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    // gap: rem(20);

    // @include mq_l {
    //   gap: vw(50);
    // }

    // @include mq_t {
    //   order: 2;
    //   gap: rem(22);
    // }

    // @include mq_m {
    //   width: 100%;
    //   gap: rem(20);
    // }

    .photo {
      object-fit: cover;
      overflow: hidden;
      width: clamp(rem(420), break(460, vw, $desktop), rem(460));
      height: clamp(rem(400), break(460, vw, $desktop), rem(460));
      border-radius: 4rem;
      background-color: #fff;
      border: 1px solid var(--color-gray-dark);
      margin-bottom: rem(20);

      @include mq_l {
        width: clamp(rem(400), break(420), rem(420));
        height: clamp(rem(382), break(400), break(400));
      }

      @include mq_t {
        order: -1;
        width: clamp(rem(360), break(400), rem(400));
        height: clamp(rem(344), break(400), break(400));
      }

      @include mq_m {
        width: 62.5%;
        min-width: rem(214);
        height: auto;
        border-radius: rem(20);
      }
    }

    .download {
      background-color: var(--color-beige-light);
    }
  }

  .text_big {
    z-index: 1;
    position: absolute;
    bottom: calc(100% - rem(70));
    left: clamp(rem(90), break(100, vw, $desktop), rem(100));
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    // gap: break(38, vh, $desktop);
    gap: rem(10);
    width: 100%;

    @include mq_l {
      right: rem(-94);
    }

    @include mq_t {
      left: 0;
      position: relative;
      flex-direction: row;
      justify-content: center;
      gap: vw(33);
      margin-top: rem(20);
    }

    @include mq_m {
      gap: rem(12);
    }

    .text_big_svg {
      display: flex;
      align-items: center;
      overflow: hidden;

      svg {
        height: 100%;
      }
    }

    .svg_1 {
      width: 305px;
      height: 80px;
    }

    .svg_2 {
      // height: clamp(rem(40), break(57, vw, $desktop), rem(57));
      width: 155px;
      height: 80px;

      // @include mq_l {
      //   height: clamp(rem(54), break(57), rem(57));
      // }

      // @include mq_t {
      //   height: clamp(rem(40), break(70), rem(70));
      // }

      // @include mq_m {
      //   height: rem(32);
      // }
    }
  }
}

.text {
  width: calc(100% - 45%);
  max-width: 73rem;
  margin-left: clamp(rem(50), break(82), rem(82));

  @include mq_l {
    width: 100%;
    max-width: clamp(var(--m-min-width), 90%, rem(1000));
    margin: 0 auto;

    br {
      // display: none;
    }
  }

  @include mq_t {
    max-width: 100%;
  }

  .title {
    font-size: clamp(rem(16), break(20), rem(20));

    .nana {
      margin-left: 0.6rem;
      height: clamp(rem(12), break(14), rem(14));
    }
  }

  .desc {
    margin: 2.6rem auto 3.6rem;
    color: var(--color-gray-dark);
    font-size: clamp(rem(18), break(20, vw, $desktop), rem(20));
    font-weight: 400;
    line-height: 190%;
    word-break: keep-all;

    p {
      overflow: hidden;
    }

    @include mq_l {
      margin-top: clamp(rem(22), break(26), rem(26));
      margin-bottom: clamp(rem(30), break(36), rem(36));
      font-size: clamp(rem(18), break(20), rem(20));
    }

    @include mq_t {
      font-size: clamp(rem(16), break(18, vw, $tablet), rem(18));
    }

    p:not(:first-child) {
      margin-top: rem(20);
    }
  }

  .aka {
    @include font-sub;
    color: var(--color-gray);
    border: 1px solid var(--color-gray-light);
    padding: rem(3) rem(6);
    margin-left: rem(5);
    border-radius: rem(20);
    font-size: 80%;
    letter-spacing: 0;
  }

  .link {
    font-size: clamp(rem(16), break(20, vw, $desktop), rem(20));

    @include mq_l {
      font-size: clamp(rem(18), break(20), rem(20));
    }

    @include mq_t {
      font-size: clamp(rem(16), break(18, vw, $tablet), rem(18));
    }
  }
}

.bg {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-beige-light);
}

// .ticket {
//   // position: relative;
//   // width: 100%;
//   // background: pink;
//   // height: 100vh;
// }
// .ticket_img {
//   position: absolute;
//   @include font-sub;
//   font-weight: 500;
//   // top: -9vh;
//   left: 0;
//   right: 0;
//   margin-left: auto;
//   margin-right: auto;
//   width: 700px;
//   height: 300px;
//   transform-origin: center;
//   transform: perspective(1200px) rotateX(14deg) rotateY(9.3deg);
//   background-image: url(./ticket.png);
//   background-size: 100%;
//   overflow: hidden;
//   border-radius: 30px;
//   border: 1px solid #aaa;
//   background-color: transparent;
//   box-shadow: 0 0 3px -1px transparent, -8px -1px 2px 1px transparent,
//     0 0 5px 0px transparent, -2px 4px 20px 3px rgba(173, 173, 173, 0.08),
//     0 2px 15px -5px rgba(193, 193, 193, 0.1), 0 0 25px 0px transparent;

//   span {
//     width: 108px;
//     position: absolute;
//     bottom: 37.5px;
//     left: 43.75px;
//     font-size: 28.75px;
//     color: #cbb9a7;
//     user-select: none;
//   }

//   p {
//     position: absolute;
//     top: 140px;
//     right: 29px;
//     font-size: 21px;
//     color: #e3e1df;
//     user-select: none;
//   }
// }

em {
  z-index: -99;
  position: fixed;
  font-size: 20vw;
  top: 50%;
  width: 100%;
  text-align: center;
}
