.about {
  position: relative;

  .inner {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: var(--d-max-width);
    height: 100vh;
    margin: 0 auto;
  }
}

.visual {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 5rem;
  padding-right: 9.3rem;

  .profile {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 46rem;
  }
  .download {
    background-color: var(--color-beige-light);
  }

  .text_big {
    z-index: 1;
    position: absolute;
    top: -7rem;
    left: 25rem;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3.8rem;

    svg {
      display: block;
    }
  }

  .photo {
    width: 100%;
    height: 44rem;
    border-radius: 4rem;
    background-color: var(--color-black-light);
    border: 1px solid var(--color-gray-dark);
  }
}

.text {
  width: calc(100% - 48%);
  max-width: 73rem;
  padding-left: 8.2rem;

  .nana {
    margin-left: 0.6rem;
    height: 1.4rem;
  }

  .desc {
    margin: 2.6rem 0 3.6rem;
    color: var(--color-black-light);
    font-size: 2rem;
    font-weight: 300;
    line-height: 3.6rem;
    word-break: keep-all;

    p:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

.bg {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-beige-light);
}

.ticket {
  z-index: -1;
  position: absolute;
  top: -8.7vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 558px;
  height: 240px;
  background-color: burlywood;
}
