@use '/src/styles/helpers' as *;

.article_title {
  @include font-sub;
  font-size: rem(18);
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--color-gray-title);

  @include mq_m {
    font-size: mobile(16, 18);
  }
}
