.works {
  .inner {
    position: relative;
    width: 100%;
    max-width: var(--d-max-width);
    height: 100vh;
    outline: 5px solid green;
    margin: 0 auto;
  }
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.title {
  color: #dfdfdf;
  text-align: center;
  margin-bottom: 1.6rem;
  pointer-events: none;
}
