@use '/src/styles/helpers' as *;

.header {
  z-index: var(--z-header);
  position: fixed;
  top: rem(40);
  left: 0;
  width: 100%;
  font-size: rem(18);
  color: #000;
  pointer-events: none;

  .inner {
    max-width: var(--d-max-width);
    margin: 0 auto;
    padding: 0 $padding_global;
  }

  @include mq_m {
    top: rem(30);
  }
}

.top {
  @include font-sub;
  display: flex;
  justify-content: space-between;
  padding: rem(12);
  font-weight: 500;
  pointer-events: auto;

  @include mq_m {
    justify-content: center;
  }

  .title {
    flex-basis: 30%;
    font-size: rem(18);
    letter-spacing: -0.02em;

    @include mq_t {
      @include screenOut;
    }
  }

  .status {
    flex-basis: 30%;
    position: relative;
    padding-left: rem(18);
    text-align: right;

    span {
      position: relative;

      &:before,
      &:after {
        position: absolute;
        top: rem(6.5);
        left: rem(-20);
        display: block;
        content: '';
        width: rem(10);
        height: rem(10);
        transform-origin: 50% 50%;
        border-radius: 50%;
      }

      &:before {
        background-color: #baeda2;
        animation: on 2s infinite;
      }

      &:after {
        background-color: #a7de8d;
      }
    }

    @keyframes on {
      90% {
        opacity: 0;
        transform: scale(2.5);
      }
      100% {
        opacity: 0;
        transform: scale(2.5);
      }
    }

    @include mq_m {
      @include screenOut();
    }
  }

  .circle {
    display: none; //TODO:
    position: fixed;
  }
}

.bottom {
  @include font-main;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 400;

  @include mq_m {
    justify-content: center;
  }

  span {
    pointer-events: auto;
  }

  .langs {
    pointer-events: auto;
    @include mq_m {
      display: none;
    }
  }
}

.line {
  display: block;
  width: 100%;
  height: 0.1rem;
  transform-origin: 0 0;
  background-color: var(--color-black);

  &.bold {
    height: 0.2rem;
  }
}
