@use '/src/styles/helpers' as *;
$_parallex_height: 600px;

.main {
  position: relative;
  width: 100%;
  min-width: var(--m-min-width);
  text-align: center;
  padding: calc(vh(40) + vw(15) + rem(210)) $padding_global
    calc(vh(40) + vw(15) + rem(90));
  background-color: #fff;

  @include mq_m {
    padding-top: calc(vh(70) + vw(40) + rem(150));
  }
}

.inner {
  display: block;
  width: 100%;
}

.title {
  z-index: 2;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;

  .title_inner {
    display: inline-block;
    text-align: left;

    .title_sub {
      position: relative;
      top: 2vw;
      font-size: rem(36);
      line-height: 130%;
      font-weight: 700;

      @include mq_m {
        top: mobile(0, 8);
        font-size: mobile(24, 30);
      }
    }

    .logo {
      width: rem(1120);
      max-width: 100%;

      @include mq_l {
        width: var(--l-max-width);
      }
    }
  }

  .desc {
    margin-top: rem(80);
    margin-bottom: calc(vh(50) + rem(90));
    font-size: rem(22);
    font-weight: 300;
    line-height: 180%;
    text-align: center;
    color: var(--color-black-light);

    span {
      display: block;
    }

    br {
      display: none;
    }

    @include mq_t {
      margin-top: calc(vh(20) + vw(10) + rem(15));
      margin-bottom: calc(vh(50) + vw(20) + rem(90));
      text-align: left;

      span {
        display: inline;

        & + span {
          margin-left: rem(4);
        }
      }
    }

    @include mq_m {
      font-size: mobile(20, 22);
      font-weight: 400;

      br {
        display: block;
      }
    }
  }
}

.guide {
  z-index: 10;
  position: relative;
  width: 100%;

  .icon {
    margin-top: rem(30);
    height: rem(40);
    color: var(--color-gray-light);
  }

  .text {
    @include font-sub;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0;
    color: var(--color-gray-light);

    @include mq_m {
      font-size: 13px;
    }
  }
}

$_position: calc(vh(60) + vw(20) + rem(150));
$_position_m: calc(vh(70) + vw(50) + rem(150));

@keyframes scroll {
  to {
    background-position: -100% $_position;
  }
}

@keyframes scroll_mobile {
  to {
    background-position: -100% $_position_m;
  }
}

.nanana {
  pointer-events: none;
  user-select: none;
  z-index: 1;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: 100% $_position;
  background-size: 25% auto;
  background-repeat: repeat-x;
  animation: scroll 30s infinite linear;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 725 450'%3E%3Cg fill='%23C2C2C2' opacity='.1'%3E%3Cpath d='M211.133 62.194c28.707 0 52.552 8.566 71.536 25.698 19.446 17.131 29.401 38.893 29.864 65.284v227.108h-97.232V189.291c-1.39-29.632-16.206-44.449-44.45-44.449-22.224 0-40.05 10.418-53.477 31.253-13.428 20.836-20.141 47.691-20.141 80.565v123.624H0V76.779h88.204l6.945 48.617c11.112-19.91 26.392-35.42 45.838-46.533 19.91-11.112 43.292-16.669 70.146-16.669ZM690.741 76.78v303.504h-97.233V342.78c-29.169 30.559-62.969 45.838-101.399 45.838-44.912 0-81.49-13.427-109.734-40.282-27.781-26.855-41.671-66.674-41.671-119.457 0-33.337 6.714-62.507 20.141-87.509 13.89-25.466 32.179-45.144 54.867-59.035C438.4 68.445 462.708 61.5 488.636 61.5c26.855 0 48.154 4.167 63.896 12.501 15.742 7.871 29.633 19.215 41.671 34.032l6.251-31.254h90.287ZM519.89 309.442c33.799 0 58.339-15.28 73.618-45.838v-74.314c-5.556-14.816-15.279-26.623-29.169-35.42-13.428-8.797-29.402-13.196-47.922-13.196-21.299 0-39.588 7.871-54.867 23.614-14.816 15.742-22.225 35.652-22.225 59.728 0 15.743 3.705 30.327 11.113 43.755 7.408 12.964 17.131 23.15 29.17 30.559 12.501 7.408 25.928 11.112 40.282 11.112Z'/%3E%3Cpath d='M211.133 62.194c28.707 0 52.552 8.566 71.536 25.698 19.446 17.131 29.401 38.893 29.864 65.284v227.108h-97.232V189.291c-1.39-29.632-16.206-44.449-44.45-44.449-22.224 0-40.05 10.418-53.477 31.253-13.428 20.836-20.141 47.691-20.141 80.565v123.624H0V76.779h88.204l6.945 48.617c11.112-19.91 26.392-35.42 45.838-46.533 19.91-11.112 43.292-16.669 70.146-16.669ZM690.741 76.78v303.504h-97.233V342.78c-29.169 30.559-62.969 45.838-101.399 45.838-44.912 0-81.49-13.427-109.734-40.282-27.781-26.855-41.671-66.674-41.671-119.457 0-33.337 6.714-62.507 20.141-87.509 13.89-25.466 32.179-45.144 54.867-59.035C438.4 68.445 462.708 61.5 488.636 61.5c26.855 0 48.154 4.167 63.896 12.501 15.742 7.871 29.633 19.215 41.671 34.032l6.251-31.254h90.287ZM519.89 309.442c33.799 0 58.339-15.28 73.618-45.838v-74.314c-5.556-14.816-15.279-26.623-29.169-35.42-13.428-8.797-29.402-13.196-47.922-13.196-21.299 0-39.588 7.871-54.867 23.614-14.816 15.742-22.225 35.652-22.225 59.728 0 15.743 3.705 30.327 11.113 43.755 7.408 12.964 17.131 23.15 29.17 30.559 12.501 7.408 25.928 11.112 40.282 11.112Z'/%3E%3C/g%3E%3C/svg%3E");

  @include mq_l {
    background-size: max(2vw, 30%) auto;
  }

  @include mq_m {
    background-size: 25% auto;
    background-position: 0 $_position_m;
    animation-name: scroll_mobile;
    animation-duration: 20s;
  }
}

.decoration {
  position: relative;
  padding-bottom: rem(20);

  .bg {
    top: 0;
    left: 0;
    position: absolute;
    top: -400px;
    width: 100%;
    min-height: rem(1350);
    height: calc(rem(2000) - 30vh);
    background-color: var(--color-beige-light);
  }

  .ticket {
    overflow: hidden;
    z-index: 10;
    position: relative;
    top: -80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: mobile(12, 30);
    box-shadow: 0 30px 60px rgba(255, 226, 196, 0.3);
    // transition: all 0.3s; //TODO: 인터렉션 추가
    transform: perspective(1200px) rotateX(14deg) rotateY(9.3deg);

    @include mq_t {
      width: 80%;
    }

    @include mq_m {
      width: 90%;
      max-width: calc(100vw - $padding_global - $padding_global);
      border-color: #ccc;
    }
  }

  canvas {
    z-index: -1;
    position: relative;
    width: 100%;
  }
}
