@use './../../styles/helpers/mixins' as *;
$_parallex_height: 600px;

.main {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: var(--m-min-width);
  text-align: center;
  padding: calc(vh(40) + vw(15) + rem(210)) $commonPadding calc(vh(40) + vw(15) + rem(90));
  background-color: #fff;

  @include mq_m {
    padding-top: calc(vh(70) + vw(40) + rem(150));
  }
}

.inner {
  display: block;
  width: 100%;
}

.title {
  z-index: 2;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;

  .title_inner {
    display: inline-block;
    text-align: left;

    .title_sub {
      position: relative;
      top: 2vw;
      font-size: rem(36);
      line-height: 130%;
      font-weight: 700;

      @include mq_m {
        top: mobile(0, 8);
        font-size: mobile(24, 30);
      }
    }

    .logo {
      width: rem(1120);
      max-width: 100%;

      @include mq_l {
        width: var(--l-max-width);
      }
    }
  }

  .desc {
    margin-top: rem(80);
    margin-bottom: calc(vh(50) + rem(90));
    font-size: rem(22);
    font-weight: 300;
    line-height: 180%;
    text-align: center;
    color: var(--color-black-light);

    span {
      display: block;
    }

    br {
      display: none;
    }

    @include mq_t {
      margin-top: calc(vh(20) + vw(10) + rem(15));
      margin-bottom: calc(vh(50) + vw(20) + rem(90));
      text-align: left;

      span {
        display: inline;

        & + span {
          margin-left: rem(4);
        }
      }
    }

    @include mq_m {
      font-size: mobile(20, 22);
      font-weight: 400;

      br {
        display: block;
      }
    }
  }
}

.guide {
  position: relative;
  width: 100%;

  .icon {
    margin-top: rem(30);
    height: rem(40);
    color: var(--color-gray-light);
  }

  .text {
    @include font-sub;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0;
    color: var(--color-gray-light);

    @include mq_m {
      font-size: 13px;
    }
  }
}

$_position: calc(vh(60) + vw(20) + rem(150));
$_position_m: calc(vh(70) + vw(50) + rem(150));

@keyframes scroll {
  to {
    background-position: -100% $_position;
  }
}

@keyframes scroll_mobile {
  to {
    background-position: -100% $_position_m;
  }
}

.nananana {
  pointer-events: none;
  user-select: none;
  z-index: 1;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: 100% $_position;
  background-size: 450px auto;
  background-repeat: repeat-x;
  animation: scroll 30s infinite linear;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 483 300'%3E%3Cg fill='%23C2C2C2' opacity='.1'%3E%3Cpath d='M140.756 41.463c19.137 0 35.034 5.71 47.69 17.131 12.964 11.421 19.601 25.93 19.909 43.524v151.404h-64.821V126.194c-.926-19.755-10.804-29.633-29.633-29.633-14.816 0-26.7 6.946-35.652 20.836-8.952 13.89-13.427 31.793-13.427 53.709v82.416H0V51.186h58.803l4.63 32.411C70.84 70.324 81.027 59.984 93.99 52.575c13.273-7.408 28.861-11.112 46.765-11.112Z'/%3E%3Cpath d='M460.494 51.186v202.336h-64.822V228.52c-19.446 20.372-41.979 30.559-67.599 30.559-29.942 0-54.327-8.952-73.156-26.855-18.521-17.903-27.781-44.449-27.781-79.638 0-22.225 4.476-41.671 13.427-58.34 9.261-16.977 21.453-30.095 36.578-39.356C292.266 45.63 308.472 41 325.757 41c17.904 0 32.103 2.778 42.598 8.334 10.495 5.248 19.755 12.81 27.78 22.688l4.167-20.836h60.192ZM346.593 206.295c22.533 0 38.893-10.186 49.079-30.559v-49.542c-3.704-9.877-10.186-17.749-19.446-23.613-8.952-5.865-19.601-8.798-31.948-8.798-14.199 0-26.392 5.248-36.578 15.743-9.878 10.495-14.816 23.768-14.816 39.819 0 10.495 2.469 20.218 7.408 29.17 4.939 8.642 11.421 15.433 19.446 20.372 8.335 4.939 17.286 7.408 26.855 7.408Z'/%3E%3Cpath d='M140.756 41.463c19.137 0 35.034 5.71 47.69 17.131 12.964 11.421 19.601 25.93 19.909 43.524v151.404h-64.821V126.194c-.926-19.755-10.804-29.633-29.633-29.633-14.816 0-26.7 6.946-35.652 20.836-8.952 13.89-13.427 31.793-13.427 53.709v82.416H0V51.186h58.803l4.63 32.411C70.84 70.324 81.027 59.984 93.99 52.575c13.273-7.408 28.861-11.112 46.765-11.112Z'/%3E%3Cpath d='M460.494 51.186v202.336h-64.822V228.52c-19.446 20.372-41.979 30.559-67.599 30.559-29.942 0-54.327-8.952-73.156-26.855-18.521-17.903-27.781-44.449-27.781-79.638 0-22.225 4.476-41.671 13.427-58.34 9.261-16.977 21.453-30.095 36.578-39.356C292.266 45.63 308.472 41 325.757 41c17.904 0 32.103 2.778 42.598 8.334 10.495 5.248 19.755 12.81 27.78 22.688l4.167-20.836h60.192ZM346.593 206.295c22.533 0 38.893-10.186 49.079-30.559v-49.542c-3.704-9.877-10.186-17.749-19.446-23.613-8.952-5.865-19.601-8.798-31.948-8.798-14.199 0-26.392 5.248-36.578 15.743-9.878 10.495-14.816 23.768-14.816 39.819 0 10.495 2.469 20.218 7.408 29.17 4.939 8.642 11.421 15.433 19.446 20.372 8.335 4.939 17.286 7.408 26.855 7.408Z'/%3E%3C/g%3E%3C/svg%3E");

  @include mq_l {
    background-size: 400px auto;
  }

  @include mq_t {
    background-size: max(20%, 300px) auto;
  }

  @include mq_m {
    background-size: 25% auto;
    background-position: 0 $_position_m;
    animation-name: scroll_mobile;
    animation-duration: 20s;
  }
}

.decoration {
  position: relative;
  padding-bottom: rem(20);
  .ticket_img {
    @include font-sub;
    position: relative;
    // top: -$_parallex_height;
    // top: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: rem(700);
    height: auto;
    aspect-ratio: 7 / 3;
    font-weight: 500;
    background-image: url(./ticket.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: rem(30);
    border: 1px solid #aaa;
    background-color: transparent;
    transition: all 0.3s;
    box-shadow: 0 30px 60px rgb(255 226 196 / 30%);

    @include mq_l {
      max-width: 80%;
      border-radius: rem(20);
    }

    span {
      width: 108px;
      position: absolute;
      bottom: 37.5px;
      left: 43.75px;
      font-size: 28.75px;
      color: #cbb9a7;
      user-select: none;
      text-align: left;
    }

    p {
      position: absolute;
      top: 140px;
      right: 29px;
      font-size: 21px;
      color: #e3e1df;
      user-select: none;
      text-align: center;
    }
  }

  .bg {
    // z-index: -2;
    top: 0;
    left: 0;
    position: absolute;
    top: -400px;
    width: 100%;
    min-height: rem(1100);
    height: 200vh;
    max-height: rem(1800);
    background-color: var(--color-beige-light);
  }
}

.ticket {
  // overflow: hidden;
  // z-index: 10;
  // position: relative;
  // top: 0;
  // left: 0;
  // width: 100%;
  // max-width: 800px;
  // // height: 342px;
  // // aspect-ratio: 800 / 342;
  // // padding-bottom: $_parallex_height;
  // margin: 0 auto;
  // transform-origin: center;
  border: 1px solid #aaa;
  border-radius: mobile(12, 30);

  transition: all 0.3s;
  // border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(255, 226, 196, 0.3);
  overflow: hidden;
  z-index: 10;
  position: relative;
  top: -80px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $_parallex_height;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  transform: perspective(1200px) rotateX(14deg) rotateY(9.3deg);

  @include mq_t {
    width: 80%;
  }

  @include mq_m {
    width: 90%;
    max-width: calc(100vw - $commonPadding - $commonPadding);
    border-color: #ccc;
  }
}

canvas {
  z-index: -1;
  position: relative;
  width: 100%;
  // border: 1px solid #ccc;
}
