@use './../../styles/helpers/mixins' as *;

.btn {
  z-index: 999; //TODO:
  position: fixed;
  right: rem(40);
  bottom: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(120);
  height: rem(120);
  border-radius: 50%;
  color: #111;
  border: 1px solid #111;
  right: $commonPadding;

  svg {
    height: 22px;

    @include mq_m {
      height: 16px;
    }
  }

  @include mq_l {
    width: rem(110);
    height: rem(110);
  }

  @include mq_t {
    width: rem(100);
    height: rem(100);
  }

  @include mq_m {
    right: rem(30);
    bottom: rem(30);
    width: mobile(80, 90);
    height: mobile(80, 90);
  }
}

.number {
  @include font-sub;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;

  .number_user {
    font-size: 3rem;

    .unit {
      display: inline-block;
      font-size: 60%;
    }
  }

  .number_total {
    font-size: 1.8rem;
    color: var(--color-black-light);
  }
}
