@use './../../styles/helpers/mixins' as *;

.btn {
  z-index: 999; //TODO:
  position: fixed;
  right: var(--d-padding-h);
  bottom: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(120);
  height: rem(120);
  border-radius: 50%;
  border: 1px solid var(--color-black);
  right: $commonPadding;

  @include mq_l {
    width: rem(110);
    height: rem(110);
  }

  @include mq_t {
    width: rem(84);
    height: rem(84);
  }
}

.number {
  @include font-sub;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;

  .number_user {
    font-size: 3rem;

    .unit {
      display: inline-block;
      font-size: 60%;
    }
  }

  .number_total {
    font-size: 1.8rem;
    color: var(--color-black-light);
  }
}
