@use './../../styles/helpers/mixins' as *;

.copyright {
  @include font-sub;
  color: #a9a9a9;
  text-align: center;
  user-select: none;
  font-size: rem(14);

  @include mq_t {
    position: relative;
    left: 0;
    width: auto;
    transform: none;
  }

  .madeBy {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    line-height: 180%;
    margin-bottom: 0.2rem;

    .nana {
      margin-top: rem(2);
      height: rem(9);
    }
  }

  .text {
    color: var(--color-gray-dim);
    letter-spacing: 0;
  }
}
