@use './../../styles/helpers/mixins' as *;

.copyright {
  @include font-sub;
  color: #a9a9a9;
  text-align: center;
  user-select: none;
  font-size: 15px;

  @include mq_t {
    position: relative;
    left: 0;
    width: auto;
    transform: none;
  }

  @include mq_m {
    font-size: 14px;
  }

  .madeBy {
    display: flex;
    gap: 4px;
    align-items: center;
    line-height: 180%;
    margin-bottom: 0.2rem;

    .nana {
      margin-top: 3px;
      height: 10px;

      @include mq_m {
        margin-top: 2.5px;
        height: 9px;
      }
    }
  }

  .text {
    color: var(--color-gray-dim);
    letter-spacing: 0;
  }
}
