@use './../../styles/helpers/mixins' as *;

.link_custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-weight: 400;
  color: var(--color-black);

  .icon {
    width: rem(18);
  }

  span {
    line-height: 100%;
    font-size: rem(20);

    @include mq_m {
      font-size: mobile(18, 20);
    }
  }
}
