@use './../../styles/helpers/mixins' as *;

.link_custom {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-weight: 400;
  color: var(--color-black);
  padding: rem(12) 0;

  .icon {
    width: rem(18);
  }

  span {
    line-height: 100%;
    font-size: rem(20);

    @include mq_m {
      font-size: mobile(19, 20);
    }
  }

  &:after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: currentColor;
    transform-origin: 100% 50%;
  }

  &:after {
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      // color: rgba(23, 23, 23, 0.8);
      // transition: color 0.3s;

      &:after {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
      }
    }
  }
}
