@use './../../styles/helpers/mixins' as *;

.link_custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-black);

  .icon {
    width: 0.9em;
  }

  span {
    line-height: 100%;
  }

  @include mq_t {
    font-size: 1.8rem;
  }
}
