.button_custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  height: 4rem;
  padding: 0.2rem 2rem;
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.6rem;
  border-radius: 3rem;
  border: 1px solid var(--color-black);
}
